.about-section {
  background-image: url(../images/mountain-goal-image.png);
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 100%;
  height: 680px;
  padding-left: 130px;
  padding-right: 130px;
  margin-bottom: 170px;
  display: flex;
  justify-content: space-between;
}

.white-blur-bg {
  position: relative;
  background-color: rgba(255, 255, 255, 15%);
  backdrop-filter: blur(12px);
  border-color: rgba(255, 255, 255, 15%);
}
/* linear border */
.white-blur-bg::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: 12px;
  padding: 1.5px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.38),
    rgba(255, 255, 255, 0)
  );

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.about__left-col {
  position: relative;
  width: 50%;
  height: 100%;

  .about__map-btn {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: min-content;
    border-radius: 12px;
    padding: 12px;
    left: 0;
    top: 260px;
    gap: 10px;
    cursor: pointer;

    .about-btn__map {
      display: grid;
      justify-content: center;
      grid-template-areas: "stack";
      vertical-align: middle;
      width: 52px;
      height: 52px;

      .map-pin__container,
      .map-img {
        grid-area: stack;
      }

      .map-img {
        width: inherit;
        height: inherit;
        border-radius: 6px;
        z-index: 1;
      }

      .map-pin__container {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        z-index: 2;
        justify-self: center;
        align-self: center;
        box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
      }
    }

    span {
      text-align: left;
      color: var(--neutral-white);
      font-family: Poppins;
      font-weight: 500;
      line-height: 22px;
      font-size: 16px;
    }

    .about-btn__arrow-img {
      height: auto;
      width: 20px;
    }
  }

  .about__numbers-info {
    display: flex;
    flex-direction: column;
    padding: 20px 18px;
    border-radius: 12px;
    position: absolute;
    right: -40px;
    top: 200px;
    height: 270px;
    width: 250px;
  }

  .numbers-info__today {
    display: flex;
    flex-direction: column;

    span {
      font-family: var(--second-family);
      font-weight: 500;
      letter-spacing: 0%;
      opacity: 80%;
      color: var(--neutral-white);
      font-size: 16px;
      margin-bottom: 12px;
    }

    .today__time-temp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      background-color: var(--neutral-dark-blue);
      border-radius: 7px;
      padding: 6px;
      margin-bottom: 26px;

      &::after {
        content: "";
        position: absolute;
        bottom: -14px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
      }

      .today__time,
      .today__temp {
        color: var(--neutral-white);
        font-family: var(--font-family);
        font-weight: 500;
        line-height: 20px;
        font-size: 18px;
      }

      .today__temp {
        display: flex;
        align-items: center;
        padding-right: 6px;
        img {
          height: auto;
          width: 24px;
          padding-right: 4px;
        }
      }
    }
  }

  .numbers-info__distance,
  .numbers-info__height {
    display: flex;
    position: relative;
    flex-direction: column;
    color: var(--neutral-white);
    font-weight: 500;
    margin-bottom: 26px;

    .distance__text,
    .height__text {
      font-family: var(--second-family);
      line-height: 22px;
      font-size: 16px;
      padding-bottom: 8px;
    }

    .distance__number,
    .height__number {
      font-family: var(--third-family);
      line-height: 100%;
      font-size: 26px;
    }
  }

  .numbers-info__distance {
    &::after {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.about__right-col {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 180px;
  color: var(--neutral-white);

  .right-col__sub-heading {
    font-family: var(--font-family);
    font-weight: 500;
    opacity: 60%;
    line-height: 40px;
    font-size: 26px;
  }

  .right-col__title {
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 70px;
    font-size: 58px;
    padding-bottom: 24px;
  }

  .right-col__paragraph {
    font-family: var(--second-family);
    font-weight: 400;
    opacity: 80%;
    line-height: 26px;
    font-size: 14px;
    padding-bottom: 20px;
  }

  .right-col__action {
    display: flex;
    align-items: center;

    a {
      color: var(--primary-cyan);
      font-family: var(--font-family);
      font-weight: 700;
      line-height: 100%;
      font-size: 18px;
    }
    img {
      padding-left: 10px;
      height: auto;
      width: 50px;
    }
  }
}

@media (width >= 1200px) {
  .about-section {
    background-image: url(../images/mountain-goal-image.png);
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-size: 100%;
    height: 680px;
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 170px;
    display: flex;
    justify-content: space-between;
  }

  .about__left-col {
    position: relative;
    width: 50%;
    height: 100%;

    .about__map-btn {
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: space-between;
      width: min-content;
      border-radius: 12px;
      padding: 12px;
      left: 0;
      top: 260px;
      gap: 10px;
      cursor: pointer;

      .about-btn__map {
        display: grid;
        justify-content: center;
        grid-template-areas: "stack";
        vertical-align: middle;
        width: 52px;
        height: 52px;

        .map-pin__container,
        .map-img {
          grid-area: stack;
        }

        .map-img {
          width: inherit;
          height: inherit;
          border-radius: 6px;
          z-index: 1;
        }

        .map-pin__container {
          background-color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          z-index: 2;
          justify-self: center;
          align-self: center;
          box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
        }
      }

      span {
        text-align: left;
        color: var(--neutral-white);
        font-family: Poppins;
        font-weight: 500;
        line-height: 22px;
        font-size: 16px;
      }

      .about-btn__arrow-img {
        height: auto;
        width: 20px;
      }
    }

    .about__numbers-info {
      display: flex;
      flex-direction: column;
      padding: 20px 18px;
      border-radius: 12px;
      position: absolute;
      right: -40px;
      top: 200px;
      height: 270px;
      width: 250px;
    }

    .numbers-info__today {
      display: flex;
      flex-direction: column;

      span {
        font-family: var(--second-family);
        font-weight: 500;
        letter-spacing: 0%;
        opacity: 80%;
        color: var(--neutral-white);
        font-size: 16px;
        margin-bottom: 12px;
      }

      .today__time-temp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: var(--neutral-dark-blue);
        border-radius: 7px;
        padding: 6px;
        margin-bottom: 26px;

        &::after {
          content: "";
          position: absolute;
          bottom: -14px;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.2);
        }

        .today__time,
        .today__temp {
          color: var(--neutral-white);
          font-family: var(--font-family);
          font-weight: 500;
          line-height: 20px;
          font-size: 18px;
        }

        .today__temp {
          display: flex;
          align-items: center;
          padding-right: 6px;
          img {
            height: auto;
            width: 24px;
            padding-right: 4px;
          }
        }
      }
    }

    .numbers-info__distance,
    .numbers-info__height {
      display: flex;
      position: relative;
      flex-direction: column;
      color: var(--neutral-white);
      font-weight: 500;
      margin-bottom: 26px;

      .distance__text,
      .height__text {
        font-family: var(--second-family);
        line-height: 22px;
        font-size: 16px;
        padding-bottom: 8px;
      }

      .distance__number,
      .height__number {
        font-family: var(--third-family);
        line-height: 100%;
        font-size: 26px;
      }
    }

    .numbers-info__distance {
      &::after {
        content: "";
        position: absolute;
        bottom: -14px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .about__right-col {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-left: 180px;
    color: var(--neutral-white);

    .right-col__sub-heading {
      font-family: var(--font-family);
      font-weight: 500;
      opacity: 60%;
      line-height: 40px;
      font-size: 26px;
    }

    .right-col__title {
      font-family: var(--font-family);
      font-weight: 700;
      line-height: 70px;
      font-size: 58px;
      padding-bottom: 24px;
    }

    .right-col__paragraph {
      font-family: var(--second-family);
      font-weight: 400;
      opacity: 80%;
      line-height: 26px;
      font-size: 14px;
      padding-bottom: 20px;
    }

    .right-col__action {
      display: flex;
      align-items: center;

      a {
        color: var(--primary-cyan);
        font-family: var(--font-family);
        font-weight: 700;
        line-height: 100%;
        font-size: 18px;
      }
      img {
        padding-left: 10px;
        height: auto;
        width: 50px;
      }
    }
  }
}
