body {
	box-sizing: border-box;
	background-image: 
		url(../images/background-img-upper.png),
		url(../images/background-img-lower.png);
	background-origin: padding-box;
	background-repeat: no-repeat;
	background-size: 100% auto, 100% auto;
}