:root {
    --content-grid-lf-padding: 130px;
}

.content-grid {
    display: grid;
    width: 100%;

    grid-template-columns:
        var(--content-grid-lf-padding)
        minmax(1fr, 2fr)
        1fr
        var(--content-grid-lf-padding);
    row-gap: 212px;
    column-gap: 10px;

    margin-bottom: 160px;
}

/* #region left-column */

.video-card {
    display: flex;
    align-items: flex-end;
    justify-self: start;

    grid-column: 2 / 3;
    grid-row: 1;
}

.video-card__media {
    position: relative;
    display: grid;
    grid-template-areas: "stack";
    margin-right: 40px;
    border-radius: 12px;

    div,
    img {
        grid-area: stack;
    }
}

@media (width >= 1200px) {
    .video-card__media {
        margin-right: 40px;
    }
}

.video-card__img {
    z-index: 1;
    width: 240px;
    height: auto;
}

@media (width >= 1200px) {
    .video-card__img {
        width: 240px;
        height: auto;
    }
}

.video-card__action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 30px;

    a {
        white-space: nowrap;
        color: var(--neutral-white);
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        padding-right: 10px;
    }

    img {
        padding-left: 10px;
        width: 50px;
        height: auto;
    }
}

@media (width >= 1200px) {
    .video-card__action {
        a {
            font-size: 18px;
            line-height: 100%;
            padding-right: 10px;
        }

        img {
            padding-left: 10px;
            width: 50px;
            height: auto;
        }
    }
}

.video-card__badge {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    font-size: 14px;
    font-weight: 400;
    color: var(--neutral-white);
    font-family: var(--second-family);
    z-index: 2;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

@media (width >= 1200px) {
    .video-card__badge {
        bottom: 0;
        height: 20%;
        width: 100%;
        font-size: 14px;
    }
}

.video-card__body {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: flex-start;

    h3 {
        padding-bottom: 24px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 38px;
        line-height: 40px;
        white-space: nowrap;
    }

    h4 {
        padding-bottom: 24px;
        font-family: var(--third-family);
        font-weight: 500;
        color: var(--primary-cyan);
        font-size: 25px;
        line-height: 100%;
    }

    p {
        font-family: var(--second-family);
        font-weight: 400;
        color: var(--neutral-white);
        font-size: 14px;
        line-height: 26px;
        opacity: 80%;
    }
}

@media (width >= 1200px) {
    .video-card__body {
        max-width: 400px;

        h3 {
            padding-bottom: 24px;
            font-size: 38px;
            line-height: 40px;
        }

        h4 {
            padding-bottom: 24px;
            font-size: 25px;
            line-height: 100%;
        }

        p {
            font-size: 14px;
            line-height: 26px;
        }
    }
}

.weather-widget {
    grid-column: 2 / 3;
    grid-row: 2;
    justify-self: start;

    display: flex;
    flex-wrap: wrap;
    color: var(--neutral-white);
    width: 400px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    h3 {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 55px;
    }

    span {
        font-family: var(--third-family);
        font-weight: 500;
        font-size: 26px;
        color: var(--neutral-white);
        opacity: 60%;
        padding-right: 30px;
        line-height: 100%;
    }
}

@media (width >= 1200px) {
    .weather-widget {
        width: 400px;

        h3 {
            font-size: 55px;
        }

        span {
            font-size: 26px;
            padding-right: 30px;
            line-height: 100%;
        }
    }
}

.weather-widget__status {
    display: flex;
    align-items: center;

    img {
        width: 42px;
        padding-right: 4px;
    }

    p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 30px;
        line-height: 56px;

        color: var(--neutral-white);
    }
}

@media (width >= 1200px) {
    .weather-widget__status {
        img {
            width: 42px;
        }

        p {
            font-size: 29px;
            line-height: 56px;
        }
    }
}
/* #endregion  */

/* #region right-column */
.blog-promo {
    grid-column: 3 / 5;
    grid-row: 1;
    justify-self: end;

    display: grid;
    grid-template-areas: "stack";
    align-self: flex-end;
    width: 100%;
    height: min-content;
    width: 28vw;

    padding-bottom: 32px;

    @media (width < 1200px) {
        width: 32vw;
    }
}

.blog-promo__img--top,
.blog-promo__img--bottom,
.blog-promo__link-wrap {
    grid-area: stack;
}

.blog-promo__img--top,
.blog-promo__img--bottom {
    align-self: end;
    width: inherit;
    height: auto;
    border-radius: 8px;
}

.blog-promo__img--bottom {
    z-index: 1;
}

.blog-promo__img--top {
    z-index: 2;
}

.blog-promo__link-wrap {
    z-index: 3;

    align-self: start;
    justify-self: start;

    margin-top: 30px;
    margin-left: 6%;

    display: flex;
    align-items: center;
    cursor: pointer;

    a {
        color: var(--neutral-white);
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        white-space: nowrap;
    }

    img {
        padding-left: 10px;
        width: 50px;
        height: auto;
    }
}

@media (width >= 1200px) {
    .blog-promo__link-wrap {
        top: 30px;
        right: 240px;

        a {
            font-size: 18px;
            line-height: 100%;
            padding-right: 10px;
        }

        img {
            padding-left: 10px;
            width: 50px;
            height: auto;
        }
    }
}

.schedule-card {
    grid-column: 3 / 4;
    grid-row: 2;
    justify-self: end;

    color: var(--neutral-white);
    white-space: nowrap;
    display: inline-block;
    width: 35vw;
}

@media (width >= 1200px) {
    .schedule-card {
        width: 25.5rem;
    }
}

.schedule-card__header,
.schedule-card__body,
.schedule-card__footer {
    padding-left: 40px;
    padding-right: 100px;
}

@media (width >= 1200px) {
    .schedule-card__header,
    .schedule-card__body,
    .schedule-card__footer {
        padding-left: 40px;
        padding-right: 100px;
    }
}

.schedule-card__header {
    background-color: var(--neutral-dark-blue);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

@media (width >= 1200px) {
    .schedule-card__header {
        font-size: 30px;
        line-height: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.schedule-card__body,
.schedule-card__footer {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(32px);
}

.schedule-card__body {
    padding-top: 20px;
    padding-bottom: 20px;

    .schedule-card__label {
        font-family: var(--second-family);
        font-weight: 500;
        line-height: 28px;
        font-size: 16px;
        opacity: 70%;
        padding-bottom: 14px;
    }

    .schedule-card__time {
        font-family: var(--font-family);
        font-weight: 500;
        line-height: 40px;
        font-size: 32px;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

@media (width >= 1200px) {
    .schedule-card__body {
        padding-top: 20px;
        padding-bottom: 20px;

        .schedule-card__label {
            line-height: 28px;
            font-size: 16px;
            padding-bottom: 14px;
        }

        .schedule-card__time {
            line-height: 40px;
            font-size: 32px;
        }

        &::after {
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: 1px;
        }
    }
}

.schedule-card__footer {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;

    a {
        color: var(--primary-cyan);
        line-height: 100%;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        padding-right: 8px;
    }

    img {
        width: 37px;
        height: auto;
    }
}

@media (width >= 1200px) {
    .schedule-card__footer {
        padding-top: 40px;
        padding-bottom: 20px;

        a {
            line-height: 100%;
            font-size: 18px;
            padding-right: 8px;
        }

        img {
            width: 37px;
            height: auto;
        }
    }
}
/* #endregion content-grid__right-column */
