.content-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.see-video-content {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex: none;
}
.see-video-content .left {
  position: relative;
  display: grid;
  grid-template-areas: "stack";
  margin-right: 40px;
  margin-left: 110px;
}
.see-video-content .left div,
.see-video-content .left img{
  grid-area: stack;
}
.see-video-content .left .img1 {
  z-index: 1;
  width: 240px;
  height: auto;
}
.svc-left-sv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position:absolute;
  z-index: 2;
  top: 30px;
  left: 30px;
}
.see-video-content .svc-left-sv a {
  white-space: nowrap;
  color: var(--neutral-white);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  padding-right: 10px;
}
.see-video-content .svc-left-sv .img2 {
  width: 40px;
  height: auto;
}
.see-video-content .svc-left-of {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  font-size: 14px;
  font-weight: 400;
  color: var(--neutral-white);
  font-family: 'Poppins';
  z-index: 2;
}
.see-video-content .right {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: flex-start;
}
.see-video-content .right h3{
  padding-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 38px;
  line-height: 40px;
}
.see-video-content .right h4{
  padding-bottom: 24px;
  font-family: var(--third-family);
  font-weight: 500;
  color: var(--primary-cyan);
  font-size: 25px;
  line-height: 100%;
}
.see-video-content .right p{
  font-family: var(--second-family);
  font-weight: 400;
  color: var(--neutral-white);
  font-size: 14px;
  line-height: 26px;
  opacity: 80%;
}
.our-blog-content {
  display: grid;
  position: relative;
  grid-template-areas: "stack";
  justify-items: end;
  align-items: flex-end;
  margin-bottom: 32px;
  margin-top: 32px;
}
.our-blog-content img, 
.our-blog-content a {
  grid-area: stack;
}
.our-blog-content .up,
.our-blog-content .down {
  z-index: -8;
  border-radius: 8px;
  width: 400px;
  height: auto;
}
.our-blog-content .up,
.our-blog-content a{
  z-index: -7;
}
.obc-ob {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}
.obc-ob a {
  color: var(--neutral-white);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  right: 403px;
  bottom: 38px;
  white-space: nowrap;
  color: var(--neutral-white);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  padding-right: 10px;
}
.obc-ob img{
  width: 40px;
  height: auto;
}

@media (min-width: 990px) {
  .content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .see-video-content {
    display: flex;
    position: relative;
    align-items: flex-end;
    flex: none;
  }

  .see-video-content .left {
    position: relative;
    display: grid;
    grid-template-areas: "stack";
    margin-right: 40px;
    margin-left: 110px;
  }

  .see-video-content .left div,
  .see-video-content .left img{
    grid-area: stack;
  }

  .see-video-content .left .img1 {
    z-index: 1;
    width: 240px;
    height: auto;
  }

  .svc-left-sv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position:absolute;
    z-index: 2;
    top: 30px;
    left: 30px;
  }

  .see-video-content .svc-left-sv a {
    white-space: nowrap;
    color: var(--neutral-white);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    padding-right: 10px;
  }

  .see-video-content .svc-left-sv .img2 {
    width: 40px;
    height: auto;
  }

  .see-video-content .svc-left-of {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    font-size: 14px;
    font-weight: 400;
    color: var(--neutral-white);
    font-family: 'Poppins';
    z-index: 2;
  }

  .see-video-content .right {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: flex-start;
  }

  .see-video-content .right h3{
    padding-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
  }

  .see-video-content .right h4{
    padding-bottom: 24px;
    font-family: var(--third-family);
    font-weight: 500;
    color: var(--primary-cyan);
    font-size: 25px;
    line-height: 100%;
  }

  .see-video-content .right p{
    font-family: var(--second-family);
    font-weight: 400;
    color: var(--neutral-white);
    font-size: 14px;
    line-height: 26px;
    opacity: 80%;
  }

  .our-blog-content {
    display: grid;
    position: relative;
    grid-template-areas: "stack";
    justify-items: end;
    align-items: flex-end;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  .our-blog-content img, 
  .our-blog-content a {
    grid-area: stack;
  }

  .our-blog-content .up,
  .our-blog-content .down {
    z-index: -8;
    border-radius: 8px;
    width: 400px;
    height: auto;
  }

  .our-blog-content .up,
  .our-blog-content a{
    z-index: -7;
  }

  .obc-ob {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
  }

  .obc-ob a {
    color: var(--neutral-white);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    right: 403px;
    bottom: 38px;
    white-space: nowrap;
    color: var(--neutral-white);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    padding-right: 10px;
  }

  .obc-ob img{
    width: 40px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .see-video-content {
    display: flex;
    position: relative;
    align-items: flex-end;
    flex: none;
  }

  .see-video-content .left {
    position: relative;
    display: grid;
    grid-template-areas: "stack";
    margin-right: 40px;
    margin-left: 110px;
  }

  .see-video-content .left div,
  .see-video-content .left img{
    grid-area: stack;
  }

  .see-video-content .left .img1 {
    z-index: 1;
    width: 240px;
    height: auto;
  }

  .svc-left-sv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position:absolute;
    z-index: 2;
    top: 30px;
    left: 30px;
  }

  .see-video-content .svc-left-sv a {
    white-space: nowrap;
    color: var(--neutral-white);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    padding-right: 10px;
  }

  .see-video-content .svc-left-sv .img2 {
    width: 40px;
    height: auto;
  }

  .see-video-content .svc-left-of {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    font-size: 14px;
    font-weight: 400;
    color: var(--neutral-white);
    font-family: 'Poppins';
    z-index: 2;
  }

  .see-video-content .right {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: flex-start;
  }

  .see-video-content .right h3{
    padding-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
  }

  .see-video-content .right h4{
    padding-bottom: 24px;
    font-family: var(--third-family);
    font-weight: 500;
    color: var(--primary-cyan);
    font-size: 25px;
    line-height: 100%;
  }

  .see-video-content .right p{
    font-family: var(--second-family);
    font-weight: 400;
    color: var(--neutral-white);
    font-size: 14px;
    line-height: 26px;
    opacity: 80%;
  }

  .our-blog-content {
    display: grid;
    position: relative;
    grid-template-areas: "stack";
    justify-items: end;
    align-items: flex-end;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  .our-blog-content img, 
  .our-blog-content a {
    grid-area: stack;
  }

  .our-blog-content .up,
  .our-blog-content .down {
    z-index: -8;
    border-radius: 8px;
    width: 400px;
    height: auto;
  }

  .our-blog-content .up,
  .our-blog-content a{
    z-index: -7;
  }

  .obc-ob {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
  }

  .obc-ob a {
    color: var(--neutral-white);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    right: 403px;
    bottom: 38px;
    white-space: nowrap;
    color: var(--neutral-white);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    padding-right: 10px;
  }

  .obc-ob img{
    width: 40px;
    height: auto;
  }
}