@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('Fonts/CabinetGrotesk-Regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('Fonts/CabinetGrotesk-Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('Fonts/CabinetGrotesk-Extrabold.otf') format('otf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('Fonts/CabinetGrotesk-Black.otf') format('otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

