.nav-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav-wrapper .left {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.nav-wrapper .left h3 {
  white-space: nowrap;
  margin: 0;
  font-family: var(--font-family);
}

.nav-wrapper ul {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  column-gap: 48px;
  font-family: var(--second-family);
}


.nav-wrapper .right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  font-family: var(--second-family);
}